@{
    Layout = "_Layout";
}

<body>
    <div class="card" id="tama-card" style="width: 18rem;">
        @if (!Model.Alive)
        {
            <style>
                #tama-photo {
                    transform: rotate(180deg);
                }
            </style>
        }
        <style>
            #tama-card {
                color: @Model.Color;
            }
        </style>

        <svg width="100%" height="100%" viewBox="0 0 4.233333 4.2333332" version="1.1" id="svg1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs1" />
            <g id="layer1" transform="translate(64.029167,-80.697914)">
                <path id="tamagotchi" style="fill:@Model.Color;stroke-width:0.127;stroke-linecap:round;paint-order:markers fill stroke" d="m -62.970834,80.962497 v 0.264583 h -0.264583 v 0.529167 h 0.269751 v 0.529167 c -0.01216,0.07777 -0.0017,0.178141 -0.0052,0.264583 h 0.26355 v 0.264583 h 0.265617 v -0.264583 h -0.264583 v -0.264583 c 0.706584,6.95e-4 1.410094,-0.0017 2.116666,-0.001 v -0.528133 h 0.262 v -0.529167 h -0.262 v -0.264583 h -0.522965 v 0.264583 h -0.270785 v 0.529167 h -0.264583 v 0.264583 H -61.9125 v -0.264583 h -0.268201 v -0.529167 h -0.258382 v -0.264583 z m 0,1.5875 h -0.264583 v 0.529167 H -63.5 v 0.529166 h 0.264583 v 0.264584 h 0.264583 V 83.60833 h 0.264584 v -0.529166 h -0.264584 z m 0,1.322917 v 0.26665 h 0.26355 v 0.266134 h -0.26355 v 0.260966 h 0.79375 v -0.260966 h 1.322917 v 0.258382 h 0.264583 v -0.791166 h -0.529166 v 0.264583 h -1.588534 v -0.264583 z m 2.38125,0 H -60.325 V 83.60833 h 0.264583 V 83.079164 H -60.325 v -0.529167 h -0.264584 z m 0,-1.322917 v -0.264583 h -0.264583 v 0.264583 z m -0.264583,0 h -0.264583 v 0.136468 0.128115 h 0.264583 z m -1.322917,0.264583 v 0.264584 h 0.79375 V 82.81458 Z" />
            </g>
        </svg>

        <div class="card-body">
            <h3>@Model.Name</h3>
            @if (!Model.Alive)
            {
                <p>@Model.Name has died D:</p>
                <div class="row">
                    <form class="col" action="/pets/@Model.Id/funeral-procession" method="get">
                        <button>Have funeral?</button>
                    </form>
                </div>
            }
            else
            {
                <h6 class="card-subtitle mb-2 text-muted">Born @Model.Birthday.Date.ToString("d")</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Happinesss @Model.Happiness
                    </li>
                    <li class="list-group-item">Hunger @Model.Hunger
                    </li>
                    <li class="list-group-item">Attention @Model.Hunger
                    </li>
                    <li class="list-group-item">Fatigue @Model.Fatigue
                    </li>
                </ul>
                <div class="row">
                    <form class="col" action="/pets/@Model.Id/play" method="post">
                        <button>Play</button>
                    </form>
                    <form class="col" action="/pets/@Model.Id/feed" method="post">
                        <button>Feed</button>
                    </form>
                    <form class="col" action="/pets/@Model.Id/sleep" method="post">
                        <button>Sleep</button>
                    </form>
                    <form class="col" action="/pets/@Model.Id/kill" method="post">
                        <button>Kill</button>
                    </form>
                </div>
            }
        </div>
    </div>
</body>